<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="{{ url_for('home')}}">Les gares d'Ile-de-France</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('home')}}">Accueil</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('carte')}}">Carte</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('gares', page = 1)}}">Liste des gares</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('lignes')}}">Liste des lignes</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('recherche') }}">Recherche</a>
      </li>
      
      </ul>
  </div>
</nav>